---
---

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./assets/css/highlight.css";

@import "tailwindcss/utilities";

@layer base {
  html {
    @apply dark:bg-slate-800 dark:text-slate-100;
  }

  a {
    @apply text-blue-800 hover:underline dark:text-blue-400;
  }
}

@layer components {
  .mod_post {
    p {
      @apply leading-7 indent-8;
    }

    h1 {
      @apply text-4xl py-5;
    }
  }

  .highlight {
    @apply py-2;

    pre {
      @apply p-2;
    }
  }

  .highlighter-rouge {
    @apply py-2;

    pre.highlight {
      @apply p-2;
    }
  }
}
