<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="py-24 max-w-4xl mx-auto">
      <div>
        <h1 class="font-bold text-4xl">{{ page.title }}</h1>
        <span class="font-bold">{{ page.date | date: "%Y-%m-%d" }}</span>
      </div>
      <div class="mod_post py-24">
        {{ content }}
      </div>
      <div>
        <a href="{% link index.md %}">Go home</a>
        <br />
        <a href="#" data-toggle-dark>Toggle dark mode</a>
      </div>
    </div>
  </body>
</html>
